In [6]:
from datetime import datetime
import pandas as pd
now = datetime.now()
data = [['Alex',now],['Bob',],['Clarke',]]
df = pd.DataFrame(data,columns=['Name','Age']) # 将第一维度数据转为为行，第二维度数据转化为列，即 3 行 2 列，并设置列标签
print(df.dropna())

   Name                        Age
0  Alex 2022-04-29 21:24:15.550130